{% extends "base.html" %}

{% block content %}
    {% if name %}
    <p>Hello {{name}}!</p>
    {% elseif %}
    <h1>More about me :)</h1>
    {% endif %}


    <form method="post" action="/about-me">
        <input type="text" name="contact name" placeholder="Enter Your Name">
        <br>
        <input type="email" name="contact-email" placeholder="Enter email address">
        <br>
        <textarea name="contact-message" placeholder="Enter your message"></textarea>
        <br>

        <button type="submit">Submit</button>
    </form>

{% endblock content %}