{% extends "base.html" %}

{% block content %}
    <h1>More about me :)</h1>
    <h2>My name is Ferdinand</h2>

    <form method="post" action="/contact">
        <input type="text" name="contact name" placeholder="Enter Your Name"
        <br>
        <input type="email" name="contact-email" placeholder="Enteremail address"
        <br>
        <textarea name="contact-message" placeholder="Enter your message"></textarea>
        <br>

        <button type="submit">Submit</button>
    </form>

{% endblock content %}